.tab_container {
	display: none;
}

.tabs_container {
  margin: 25px 0 15px 0;
}

.responsive-menu-postbox-container {
  direction: ltr;
}

.wrap .notice,
.wrap div.error,
.wrap div.updated {
  margin: 0;
}

#submitdiv {
  width: 100%;
  min-width: 100%;
}

#menu-sortable {
  position: relative;
}

#menu-sortable,
#items_order_container td:last-child {
  width:400px;
}

#postbox_order .fa {
  position: absolute;
  right: 3%;
  top: 13px;
}

#postbox_ordering .fa {
  position: absolute;
  left: 47%;
  bottom: 11px;
}

#postbox_ordering li.draggable {
  height: 41px;
  vertical-align: top;
}

.menu-order-option-switch,
.order-option-switch {
  background: #DE4B42;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  line-height: 40px;
  padding: 0 5px;
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.menu-order-option-switch.menu-order-option-switch-on,
.order-option-switch.order-option-switch-on {
  background: green;
}

.menu-order-option-switch:after,
.order-option-switch:after {
  content: "OFF";
}

.menu-order-option-switch.menu-order-option-switch-on:after,
.order-option-switch.order-option-switch-on:after {
  content: "ON";
}

li.draggable {
  position: relative;
}

.postbox > h4 {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  line-height: 1.4;
  padding: 8px 12px;
  width: 100%;
  margin: 0;
}

.add-font-icon {
  display: inline-block;
  background: #298CBA;
  color: white;
  padding: 10px 25px;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
}

.postbox .inside .image_button,
.postbox .inside .image,
.postbox .inside .text {
  padding: 5px 15px;
  height: 30px;
  margin-right: 10px;
}

.postbox .inside .select {
  height: 27px;
}

.postbox .inside .textarea {
  height: 100px;
  padding: 15px;
  width: 100%;
}

.font-icon-container .font-icon-row:first-child {
  font-weight: bold;
}

.postbox .inside {
  padding: 0;
  margin: 0 !important;
}

.postbox .inside table {
  width: 100%;
  border-spacing: 0;
}

.postbox .inside table .description {
  color: #899194;
  line-height: 16px;
  font-size: 12px;
}

.postbox .inside table tr td {
  border-bottom: 1px solid #f5f5f5;
  vertical-align: middle;
}

.postbox .inside table tr td:first-child {
  background: #F9F9F9;
  font-weight: bold;
  border-right: 1px solid #e1e1e1;
  color: #333;
  width: 250px;
}

.postbox .inside table tr td:last-child:hover {
  background: #EDEAEA;
}

.responsive-menu-pro-overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(222, 75, 66, 0.6);
  color: white;
}

.postbox .inside table tr td:last-child:hover .responsive-menu-pro-overlay {
  color: white;
  display: block;
}

.responsive-menu-pro-overlay-text {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.beta {
  color: orange;
  display: block;
}

.postbox .inside table tr td:last-child {
  text-align: left;
  position: relative;
}

input[type="text"].image,
.select-style,
.inside .minicolors-theme-default.minicolors,
.postbox .inside .textarea,
.postbox .inside input.text {
  width: 74%;
}

#normal-sortables .button.submit,
.postbox .inside .image_button {
  background: #298CBA;
  color: white;
  border-color: #298CBA;
}

#normal-sortables .button.submit {
  padding: 0 35px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 11px;
}

#normal-sortables .button.submit:hover {
  background: #40A1CE;
}

.postbox .inside .image_button .fa {
  vertical-align: text-top;
}

#header_bar_items_order_container td {
  width: 100%;
  display: block;
  padding: 20px;
  border: 0;
  box-sizing: border-box;
}

.postbox .inside tr.semi_pro_option td:last-child:before,
.postbox .inside tr.pro_option td:last-child:before {
  content: "PRO";
  float: right;
  color: #DE4B42;
  font-weight: bold;
  font-size: 9px;
  margin-top: 6px;
  border-left: 1px solid #DE4B42;
  padding-left: 8px;
}

.postbox .inside tr.semi_pro_option td:last-child:before {
  content: "SEMI PRO";
  color: #333;
  border-color: #333;
}

#items_order_container td:last-child,
#header_bar_items_order_container td:last-child {
  text-align: center;
}

.postbox_font_icons .inside
{
  padding: 0;
  margin-bottom: 0;
}

.postbox .inside .wp-color-picker {
  cursor: crosshair;
}

#all_options_container,
#banner_area
{
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
}

#all_options_container {
  width: 74%;
}

#banner_area
{
  width: 24%;
  margin-top: 1px;
  margin-left: 2%;
}

#upgrade_banner {
  padding: 25px 5%;
  background: #DE4B42;
  color: #fff;
  border: 1px solid #D33C34;
  border-radius: 2px;
  text-align: center;
}

#upgrade_banner i {
  margin-right: 5px;
}

#docs_banner {
  background: #FAB719;
  padding: 35px;
  color: #333;
  margin-top: 15px;
  text-align: center;
}

#upgrade_banner,
#docs_banner {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

#upgrade_banner li  {
  list-style: none;
  font-weight: bold;
  font-size: 11px;
}

#docs_banner .button,
#upgrade_banner .button {
  background: white;
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 13px;
  color: #333;
  display: block;
  margin: auto;
  width: auto;
  text-align: center;
}

#docs_banner .button {
  margin-top: 15px;
}

#options_list_container .tab_container:first-child {
	display: block;
}

.tab
{
	display: inline-block;
	padding: 5px;
	text-align: center;
	border: 1px solid #CCC;
	border-radius: 2px;
	cursor: pointer;
	background: white;
  margin: 0 5px 0 0 !important;
}

.tab.active_tab {
  background: #00A0D2;
  color: white;
  border-color: #298CBA;
}

.option_holder
{
	display: inline-block;
	width: 30%;
  vertical-align: middle;
  position: relative;
  text-align: center;
  margin-right: 2%;
  padding: 5px 2% 25px 2%;
  margin-top: 15px;
  border: 1px dashed #DADADA;
  border-radius: 5px;
  transition: 0.4s all;
  box-sizing: border-box;
}

.option_holder:hover
{
  background: #F7F2F2;
}

.option_holder h4
{
	margin-bottom: 0;
}

.option_holder h5
{
	margin: 5px 0;
  font-weight: normal;
}

.option_holder.pro_option
{
  border-color: #ED655E;
}

.option_holder.semi_pro_option {
  border-color: #DADADA;
}

.options_container
{
	background: white;
	border: 1px solid #CCC;
	border-radius: 0 2px 2px 2px;
	padding: 0 15px 15px 15px;
  text-align: center;
}

.options_container input,
.options_container textarea,
.options_container select
{
	width: 90%;
	border: 1px solid #CCC;
	border-radius: 2px;
	padding: 5px;
	background: white;
}

/* On-Off Buttons */

.onoffswitch {
    position: relative; width: 74px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid transparent;
    text-align: left;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 23px;
    padding: 0;
    line-height: 23px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: transparent;
    color: green;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: transparent;
    color: #de4b42;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 13px;
    margin: 5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 47px;
    border: 2px solid #999999;
    border-radius: 12px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

input[type="checkbox"]
{
  display: none;
}

.key-container {
  margin-bottom: 15px;
}

.key-container .key-title {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

.key-container .key {
  display: inline-block;
  font-size: 9px;
  border: 1px solid #DADADA;
  border-radius: 2px;
  padding: 5px 15px 5px 5px;
  background: white;
}

.key-container .key span {
  border-right: 1px solid #de4b42;
  display: inline-block;
  padding-right: 5px;
  margin-right: 10px;
  color: #de4b42;
  font-size: 9px;
  font-weight: bold;
}

.key-container .key.key-semi-pro span {
  color: #333;
  border-color: #333;
}

.key-container .key.key-pro {
  margin-right: 15px;
}

.key-container a {
  text-decoration: none;
  color: #333;
}

/* End On-Off Buttons */

/* Nice Select Button Styling */
.select-style {
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==")no-repeat 95% 50%;
}

.select-style select {
    width: 110%;
    border: none;
    cursor: pointer;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    max-width: 115%;
    padding: 0 10px;
}

.select-style select:focus {
    outline: none;
}

/* End Select Button Styling */

/* Text Box Styling */

input[type="text"].text,
input[type="text"].image
{
  padding: 10px 5%;
  border: 1px solid #c9c9c9;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

input[type="text"].text:focus,
input[type="text"].text.focus,
input[type="text"].image:focus,
input[type="text"].image.focus,
{
  border-bottom: solid 2px #969696;
}

input[type="button"].image_button
{
  width: 15%;
  height: 42px;
}

input[type="text"].image,
input[type="button"].image_button
{
  display: inline-block;
}

/* End Text Box Styling */
#custom_css,
#menu_font_icons_container,
#custom_css_container
{
  width: 90%;
}

.font-icon-container
{
  width: 100%;
  display: table;
}

#custom_css {
  height: 300px;
}

.font-icon-row
{
  display: table-row;
}

.font-icon-cell-id,
.font-icon-cell-icon
{
  display: inline-block;
  text-align: left;
}

.font-icon-cell-id {
  width: 10%;
}

.font-icon-cell-icon {
  width: 64%;
}

.font-icon-cell-id input,
.font-icon-cell-icon input
{
  width: 100%;
}

.draggable {
  border: 1px solid #DADADA;
  border-radius: 2px;
  background: #EFEFEF;
  padding: 10px 0;
  margin: 0;
  cursor: move;
  font-weight: bold;
  padding-left: 35px;
  box-sizing: border-box;
}

.draggable input {
  display: none;
}

#header_bar_items_order_container .draggable {
  display: inline-block;
  width: 19%;
}

.upgrade-notes  {
	background: #DE4B42;
  padding: 15px 2%;
  width: 96%;
  position: relative;
  margin: 15px 0;
  color: white;
}

.upgrade-notes a {
  color: white;
  text-decoration: underline;
}

.upgrade-notes-title {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.upgrade-notes-close {
  position: absolute;
  top: 0;
  right: 2%;
  font-size: 18px;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
}

.has-sub-options .select-style {
  width: 15%;
  display: inline-block;
  vertical-align: top;
}

.postbox .inside .has-sub-options input.text {
  width: 57%;
}



@media (max-width: 1200px) {
  .preview,
  #delete-action {
    float: none;
    width: 100%;
    clear: both;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .tab {
    margin-bottom: 10px !important;
    width: 18%;
    margin-right: 1% !important;
  }
  #banner_area,
  #all_options_container {
    width: 100%;
  }
  .tabs_container {
    text-align: center;
  }
  .postbox .inside table tr td,
  .postbox .inside table tr td:last-child,
  .postbox .inside table tr td:first-child {
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  #banner_area {
    margin: 15px 0;
  }
  #menu-sortable,
  .onoffswitch,
  .select-style {
    margin: auto;
  }
  #menu-sortable, #items_order_container td:last-child {
    width: 90%;
    margin: auto;
  }
  #normal-sortables .button.submit {
    margin: auto;
    display: block;
    float: none;
  }
}
