{#
    Responsive Menu Jinja template file.
    Safe to Copy
#}

{% if alert %}
    {% for type, msg in alert %}
        <div class="alert alert-{{ type }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% if msg is iterable %}
                <ul>
                    {% for inner in msg %}
                        {% if inner is iterable %}
                            {% for inner_inner in inner %}
                                <li>{{ inner_inner|raw }}</li>
                            {% endfor %}
                        {% else %}
                            <li>{{ inner|raw }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                {{ msg|raw }}
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
