{#
    Responsive Menu Jinja template file.
    NOT Safe to Copy

    Do Not Copy
#}

<div id="upgrade-banner">
    <div id="upgrade-banner-title">Upgrade today to unlock the following features</div>
    <ul>
        <li>Desktop & Mega Menu</li>
        <li>Header Bar</li>
        <li>15+ Button Animations</li>
        <li>FontAwesome and GlyphIcon Support</li>
        <li>Keyboard Shortcuts</li>
        <li>Touch gestures</li>
        <li>Colour Opacity</li>
        <li>Preview Changes</li>
        <li>And much more</li>
    </ul>
    <a target="_blank" href="https://responsive.menu/pricing/?utm_source=free-plugin&utm_medium=banner&utm_campaign=free-plugin-banner" class="button">Upgrade Now</a>
</div>

<div id="guide-banner">
    <div id="guide-wrapper">
        <div id="guide-button">
            <div class="guide-button-line"></div>
            <div class="guide-button-line"></div>
            <div class="guide-button-line"></div>
        </div>
        <div id="guide-container">
            <div id="guide-menu">
                <div id="guide-sub-menus"></div>
            </div>
        </div>
    </div>
</div>

<div id="docs-banner">
    Confused? Check out our documentation
    <a target="_blank" href="https://responsive.menu/docs" class="button">View Docs</a>
</div>