<div id="upgrade-banner">
    <div id="upgrade-banner-title">Upgrade today to unlock the following features:</div>
    <ul>
        <li><span class="glyphicon glyphicon-star"></span>Font Awesome Icon Support</li>
        <li><span class="glyphicon glyphicon-star"></span>Opacity Option for all Colours</li>
        <li><span class="glyphicon glyphicon-star"></span>15+ Button Animations</li>
        <li><span class="glyphicon glyphicon-star"></span>Create a Desktop Menu and style</li>
        <li><span class="glyphicon glyphicon-star"></span>Create a Header Bar and style</li>
        <li><span class="glyphicon glyphicon-star"></span>Keyboard shortcuts</li>
        <li><span class="glyphicon glyphicon-star"></span>Auto-show menu on page load</li>
        <li><span class="glyphicon glyphicon-star"></span>Preview Changes</li>
        <li>And much more</li>
    </ul>
    <a target="_blank" href="https://responsive.menu/pricing/?utm_source=free-plugin&utm_medium=banner&utm_campaign=free-plugin-banner" class="button">Upgrade Now</a>
</div>

<div id="docs-banner">
    Confused? Check out our documentation
    <a target="_blank" href="https://responsive.menu/docs" class="button">View Docs</a>
</div>

<div class="key-container">
    <a href="https://responsive.menu/pricing/?utm_source=free-plugin&utm_medium=keys&utm_campaign=free-plugin-keys" target="_blank">
        <div class="key key-pro"><span>PRO</span>Only available in Pro version</div>
        <div class="key key-semi-pro"><span>SEMI PRO</span>Fully unlocked in Pro version</div>
    </a>
</div>