{#
    Responsive Menu Jinja template file.
    Not Safe to Copy
#}

<div id="upgrade-banner">
    <div id="upgrade-banner-title">
        <a target="_blank" href="https://responsive.menu?utm_source=free-plugin&utm_medium=banner&utm_campaign=upgrade#pricing">
            Upgrade today to unlock the following features:
        </a>
    </div>
    <ul>
        <li>Header Bar</li>
        <li>Desktop & Mega Menu</li>
        <li>15+ Button Animations</li>
        <li>Keyboard Shortcuts</li>
        <li>Preview Changes</li>
        <li>Touch gestures</li>
        <li>Icon Support</li>
        <li>Colour Opacity</li>
    </ul>
    <a target="_blank" href="https://responsive.menu?utm_source=free-plugin&utm_medium=banner&utm_campaign=upgrade#pricing" class="button">
        Upgrade for just $14.99
    </a>
</div>

<div id="themes-banner">
    Looking for some pre designed themes?
    <a target="_blank" href="https://responsive.menu/themes?utm_source=free-plugin&utm_medium=banner&utm_campaign=themes" class="button">Buy some today</a>
</div>

<div id="docs-banner">
    Confused? Check out our knowledgebase
    <a target="_blank" href="https://responsive.menu/knowledgebase?utm_source=free-plugin&utm_medium=banner&utm_campaign=knowledgebase" class="button">View Knowledgebase</a>
</div>
