<div class="panel panel-default">
    <div class="panel-body">Explanation about these options</div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <td>Import</td>
                <td><button name="responsive-menu-import" type="submit" class="btn btn-primary btn-lg">Import</button></td>
            </tr>
            <tr>
                <td>Export</td>
                <td><button name="responsive-menu-export" type="submit" class="btn btn-primary btn-lg">Export</button></td>
            </tr>
            <tr>
                <td>Reset</td>
                <td><button name="responsive-menu-reset" type="submit" class="btn btn-danger btn-lg">Reset</button></td>
            </tr>
        </table>
    </div>
</div>