{#
    Responsive Menu Jinja template file.
    NOT Safe to Copy

    Do Not Copy
#}

{% if hide_pro_options() == 'yes' %}
    <style>
        .nav > li.pro-tab,
        .fully-pro-container,
        .responsive-menu-preview,
        .pro-row {
            display: none;
        }
    </style>
{% endif %}

<div id="responsive-menu-admin"  class='container-fluid'>
    <form class='form-horizontal form-inline' id='responsive-menu-form' action='' method='post' enctype='multipart/form-data'>
        {{ csrf() }}
        {% include 'admin/alerts.html.twig' %}
        {% include 'admin/tabs.html.twig' %}
        <div class="col-md-3 text-right top-submit-buttons">
            <button type='button' name='responsive-menu-preview' class='btn btn-rm btn-default responsive-menu-preview'>
                Preview Changes
                <span class='label label-danger'>Pro</span>
            </button>
            <button type='submit' name='responsive-menu-submit' class='btn btn-rm btn-primary'>
                Update Options
            </button>
        </div>
        <div id='options-area'>
            <div class='panel panel-default' id='filter-options-container'>
                <div class='panel-body'><span class="glyphicon glyphicon-search"></span>Filter Options</div>
                <table class='table table-hover'>
                    <td class='well col-md-3'>
                        <input type="search" class="form-control" name="filter-options" id="filter-options" placeholder="Start typing to filter options" />
                    </td>
                </table>
            </div>
            {% include 'admin/options.html.twig' %}
            <div class='panel panel-default' id='upgrade-bottom-banner'>
                <div class='panel-body'><span class="glyphicon glyphicon-star"></span>
                    <a target="_blank" href="https://responsive.menu/pricing?utm_source=free-plugin&utm_medium=banner&utm_campaign=upgrade">
                        Get access to another 50+ options. Upgrade today.
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <input type='hidden' id='responsive-menu-current-page' name='responsive-menu-current-page' value='{{ current_page() }}' />
                    <button type='button' name='responsive-menu-preview' class='btn btn-rm btn-default responsive-menu-preview'>
                        Preview Changes
                        <span class='label label-danger'>Pro</span>
                    </button>
                    <button type='submit' name='responsive-menu-submit' class='btn btn-rm btn-primary'>Update Options</button>
                </div>
                <div class="col-md-4 text-right">
                    <label id="hide-pro-options-label">
                        Hide Pro Options <input type="checkbox" name="hide-pro-options" id="hide-pro-options" {% if hide_pro_options() == 'yes' %}checked="checked"{% endif %} />
                    </label>
                </div>
            </div>
        </div><!--
        --><div id='banner-area'>
            {% include 'admin/banners.html.twig' %}
        </div>
    </form>
</div>