<div class='container-fluid'>
    <form class='form-horizontal form-inline' id='responsive-menu-form' action='' method='post' enctype='multipart/form-data'>
        {% include 'admin/alerts.html.twig' %}
        {% include 'admin/tabs.html.twig' %}
        <div id='options-area'>
            {% include 'admin/options.html.twig' %}
            <input type='hidden' id='responsive-menu-current-page' name='responsive-menu-current-page' value="{{ current_page() }}" />
            <button type='button' id='responsive-menu-preview' name='responsive-menu-preview' class='btn btn-default'>Preview Changes</button>
            <button type='submit' name='responsive-menu-submit' class='btn btn-primary'>Update Options</button>
        </div><!--
        --><div id='banner-area'>
            {% include 'admin/banners.html.twig' %}
        </div>
    </form>
</div>