<div class="tab-content">
    <div id="initial-setup" class="tab-pane fade{% if current_page() == 'initial-setup' %} in active{% endif %}">
        {% include 'admin/sections/initial-setup.html.twig' %}
    </div>
    <div id="menu" class="tab-pane fade{% if current_page() == 'menu' %} in active{% endif %}">
        {% include 'admin/sections/menu.html.twig' %}
    </div>
    <div id="button" class="tab-pane fade{% if current_page() == 'button' %} in active{% endif %}">
        {% include 'admin/sections/button.html.twig' %}
    </div>
    <div id="sub-menus" class="tab-pane fade{% if current_page() == 'sub-menus' %} in active{% endif %}">
        {% include 'admin/sections/sub-menus.html.twig' %}
    </div>
    <div id="technical" class="tab-pane fade{% if current_page() == 'technical' %} in active{% endif %}">
        {% include 'admin/sections/technical.html.twig' %}
    </div>
    <div id="custom-css" class="tab-pane fade{% if current_page() == 'custom-css' %} in active{% endif %}">
        {% include 'admin/sections/custom-css.html.twig' %}
    </div>
    <div id="header-bar" class="tab-pane fade{% if current_page() == 'header-bar' %} in active{% endif %}">
        {% include 'admin/sections/header-bar.html.twig' %}
    </div>
    <div id="single-menu" class="tab-pane fade{% if current_page() == 'single-menu' %} in active{% endif %}">
        {% include 'admin/sections/single-menu.html.twig' %}
    </div>
    <div id="import-export" class="tab-pane fade{% if current_page() == 'import-export' %} in active{% endif %}">
        {% include 'admin/sections/import-export.html.twig' %}
    </div>
</div>