<ul class='nav nav-tabs'>
    <li class='{% if current_page() == 'initial-setup' %} active {% endif %}' id="initial-setup-tab">
        <a data-toggle='tab' href='#initial-setup'>
            Initial Setup
            <span class='badge'>
                <span class="free-count">3</span>
                <span class="pro-count">3</span>
            </span>
        </a>
    </li>
    <li class='{% if current_page() == 'menu' %} active {% endif %}' id="menu-tab">
        <a data-toggle='tab' href='#menu'>
            Menu
            <span class='badge'>
                <span class="free-count">56</span>
                <span class="pro-count">67</span>
            </span>
        </a>
    </li>
    <li class='{% if current_page() == 'button' %} active {% endif %}' id="button-tab">
        <a data-toggle='tab' href='#button'>
            Button
            <span class='badge'>
                <span class="free-count">31</span>
                <span class="pro-count">33</span>
            </span>
        </a>
    </li>
    <li class='{% if current_page() == 'sub-menus' %} active {% endif %}' id="sub-menus-tab">
        <a data-toggle='tab' href='#sub-menus'>
            Sub Menus
            <span class='badge'>
                <span class="free-count">26</span>
                <span class="pro-count">35</span>
            </span>
        </a>
    </li>
    <li class='{% if current_page() == 'technical' %} active {% endif %}' id="technical-tab">
        <a data-toggle='tab' href='#technical'>
            Technical
            <span class='badge'>
                <span class="free-count">7</span>
                <span class="pro-count">11</span>
            </span>
        </a>
    </li>
    <li class='{% if current_page() == 'import-export' %} active {% endif %}' id="import-export-tabZz">
        <a data-toggle='tab' href='#import-export'>
            Import/Export
            <span class='badge'>
                <span class="free-count">4</span>
                <span class="pro-count">4</span>
            </span>
        </a>
    </li>
    <li class='{% if current_page() == 'header-bar' %} active {% endif %} pro-tab' id="header-bar-tab">
        <a data-toggle='tab' href='#header-bar'>
            Header Bar
            <span class='badge progress-bar-danger'>
                Pro
            </span>
        </a>
    </li>
    <li class='{% if current_page() == 'single-menu' %} active {% endif %} pro-tab' id="single-menu-tab">
        <a data-toggle='tab' href='#single-menu'>
            Single Menu
            <span class='badge progress-bar-danger'>
                Pro
            </span>
        </a>
    </li>
    <li class='pull-right'>
        <button type='submit' name='responsive-menu-submit' class='btn btn-primary pull-right'>
            Update Options
        </button>
    </li>
    <li class='pull-right'>
        <button type='button' name='responsive-menu-preview' class='btn btn-default pull-right responsive-menu-preview'>
            Preview Changes
            <span class='badge progress-bar-danger'>
                Pro
            </span>
        </button>
    </li>
</ul>