<ul class='nav nav-tabs'>
    <li{% if current_page() == 'initial-setup' %} class='active'{% endif %}><a data-toggle='tab' href='#initial-setup'>Initial Setup <span class='badge'>3</span></a></li>
    <li{% if current_page() == 'menu' %} class='active'{% endif %}><a data-toggle='tab' href='#menu'>Menu <span class='badge'>55</span></a></li>
    <li{% if current_page() == 'button' %} class='active'{% endif %}><a data-toggle='tab' href='#button'>Button <span class='badge'>28</span></a></li>
    <li{% if current_page() == 'sub-menus' %} class='active'{% endif %}><a data-toggle='tab' href='#sub-menus'>Sub Menus <span class='badge'>33</span></a></li>
    <li{% if current_page() == 'technical' %} class='active'{% endif %}><a data-toggle='tab' href='#technical'>Technical <span class='badge'>8</span></a></li>
    <li{% if current_page() == 'custom-css' %} class='active'{% endif %}><a data-toggle='tab' href='#custom-css'>Custom CSS <span class='badge'>1</span></a></li>
    <li{% if current_page() == 'header-bar' %} class='active'{% endif %}><a data-toggle='tab' href='#header-bar'>Header Bar <span class='badge'>14</span></a></li>
    <li{% if current_page() == 'single-menu' %} class='active'{% endif %}><a data-toggle='tab' href='#single-menu'>Single Menu <span class='badge'>15</span></a></li>
    <li{% if current_page() == 'import-export' %} class='active'{% endif %}><a data-toggle='tab' href='#import-export'>Import/Export <span class='badge'>4</span></a></li>
    <li class='pull-right'><button type='submit' name='responsive-menu-submit' class='btn btn-primary pull-right'>Update Options</button></li>
    <li class='pull-right'><button type='button' id='responsive-menu-preview' name='responsive-menu-preview' class='btn btn-default pull-right'>Preview Changes</button></li>
</ul>