<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#initial-setup">Initial Setup <span class="badge">3</span></a></li>
    <li><a data-toggle="tab" href="#menu">Menu <span class="badge">42</span></a></li>
    <li><a data-toggle="tab" href="#button">Button <span class="badge">42</span></a></li>
    <li><a data-toggle="tab" href="#sub-menus">Sub Menus</a></li>
    <li><a data-toggle="tab" href="#technical">Technical</a></li>
    <li><a data-toggle="tab" href="#custom-css">Custom CSS <span class="badge">1</span></a></li>
    <li><a data-toggle="tab" href="#header-bar">Header Bar <span class="badge">1</span></a></li>
    <li><a data-toggle="tab" href="#single-menu">Single Menu <span class="badge">1</span></a></li>
    <li><a data-toggle="tab" href="#import-export">Import/Export <span class="badge">3</span></a></li>
    <li class="pull-right"><button type="submit" name="responsive-menu-submit" class="btn btn-primary pull-right">Update Options</button></li>
    <li class="pull-right"><button type="button" name="responsive-menu-preview" class="btn btn-default pull-right">Preview Changes</button></li>
</ul>