<ul class="nav nav-tabs">
    <li class="active"><a href="#">Home</a></li>
    <li><a data-toggle="tab" href="#menu">Menu <span class="badge">42</span></a></li>
    <li><a data-toggle="tab" href="#button">Button <span class="badge">42</span></a></li>
    <li><a data-toggle="tab" href="#submenus">Sub Menus</a></li>
    <li><a data-toggle="tab" href="#custom-css">Custom CSS <span class="badge">1</span></a></li>
    <li><a data-toggle="tab" href="#import">Import/Export <span class="badge">3</span></a></li>
</ul>