{#
    Responsive Menu Jinja template file.
    Safe to Copy
#}

<ul class='nav nav-tabs col-md-9'>
    <li class='{% if current_page() == 'license' %}active{% endif %}'><a data-toggle='tab' href='#license'>License</a></li>
    <li class='{% if current_page() == 'initial-setup' %}active{% endif %}'><a data-toggle='tab' href='#initial-setup'>Initial Setup</a></li>
    <li class='{% if current_page() == 'container' %}active{% endif %}'><a data-toggle='tab' href='#container'>Container</a></li>
    <li class='{% if current_page() == 'menu' %}active{% endif %}'><a data-toggle='tab' href='#menu'>Menu</a></li>
    <li class='{% if current_page() == 'sub-menus' %}active{% endif %}'><a data-toggle='tab' href='#sub-menus'>Sub Menus</a></li>
    <li class='{% if current_page() == 'button' %}active{% endif %}'><a data-toggle='tab' href='#button'>Button</a></li>
    <li class='{% if current_page() == 'technical' %}active{% endif %}'><a data-toggle='tab' href='#technical'>Technical</a></li>
    <li class='{% if current_page() == 'advanced' %}active{% endif %}'><a data-toggle='tab' href='#advanced'>Advanced</a></li>
    <li class='{% if current_page() == 'header-bar' %}active {% endif %}pro-tab'><a data-toggle='tab' href='#header-bar'>Header Bar<span class='label label-danger'>Pro</span></a></li>
    <li class='{% if current_page() == 'desktop-menu' %}active {% endif %}pro-tab'><a data-toggle='tab' href='#desktop-menu'>Desktop Menu<span class='label label-danger'>Pro</span></a></li>
    <li class='{% if current_page() == 'themes' %}active {% endif %}'><a data-toggle='tab' href='#themes'>Themes<span class='label label-danger'>New</span></a></li>
</ul>