<ul class='nav nav-tabs col-md-9'>
    <li class='{% if current_page() == 'initial-setup' %} active {% endif %}' id="initial-setup-tab">
        <a data-toggle='tab' href='#initial-setup'>
            Initial Setup
        </a>
    </li>
    <li class='{% if current_page() == 'menu' %} active {% endif %}' id="menu-tab">
        <a data-toggle='tab' href='#menu'>
            Menu
        </a>
    </li>
    <li class='{% if current_page() == 'button' %} active {% endif %}' id="button-tab">
        <a data-toggle='tab' href='#button'>
            Button
        </a>
    </li>
    <li class='{% if current_page() == 'sub-menus' %} active {% endif %}' id="sub-menus-tab">
        <a data-toggle='tab' href='#sub-menus'>
            Sub Menus
        </a>
    </li>
    <li class='{% if current_page() == 'technical' %} active {% endif %}' id="technical-tab">
        <a data-toggle='tab' href='#technical'>
            Technical
        </a>
    </li>
    <li class='{% if current_page() == 'import-export' %} active {% endif %}' id="import-export-tabZz">
        <a data-toggle='tab' href='#import-export'>
            Import/Export
        </a>
    </li>
    <li class='{% if current_page() == 'header-bar' %} active {% endif %} pro-tab' id="header-bar-tab">
        <a data-toggle='tab' href='#header-bar'>
            Header Bar
            <span class='label label-danger'>
                Pro
            </span>
        </a>
    </li>
    <li class='{% if current_page() == 'desktop-menu' %} active {% endif %} pro-tab' id="desktop-menu-tab">
        <a data-toggle='tab' href='#desktop-menu'>
            Desktop Menu
            <span class='label label-danger'>
                Pro
            </span>
        </a>
    </li>
</ul>