<div id="responsive-menu-search-box">
    <form action="" class="responsive-menu-search-form" role="search">
        <input type="search" name="s" placeholder="Search" class="responsive-menu-search-box">
    </form>
</div>