#wpwrap {
    background: #7D7F8C;
}

#wpfooter,
#wpfooter a {
    color: white;
}

#responsive-menu-admin a {
    color: #15A4FA;
}

#responsive-menu-admin .panel-body {
    color: white;
    background: #3E4960;
}

#responsive-menu-admin .panel {
    border: 0;
}

#responsive-menu-admin .panel table,
#responsive-menu-admin .panel table td,
#responsive-menu-admin .panel table th {
    border: 0;
}

#responsive-menu-admin .panel td {
    background: #E9F0FA;
}

#responsive-menu-admin .panel td.well {
    background: #333C4E;
    border-radius: 0;
    border: 0;
}

#responsive-menu-admin .panel td.well label {
    color: white;
    font-weight: normal;
}

#responsive-menu-admin .panel td.well .sub-text {
    color: #8795AC;
}

#responsive-menu-admin .panel td.well .sub_sub_title {
    color: white;
}

#responsive-menu-admin .btn-primary {
    background: #15A4FA;
}