<div id="responsive-menu-container" class=" {{ options.animation_type }}-{{ options.menu_appear_from }}">
    <div id="responsive-menu-wrapper">
        {% include 'app/title.html.twig' %}
        {% include 'app/menu.html.twig' %}
        {% include 'app/search.html.twig' %}
        {% include 'app/additional-content.html.twig' %}
    </div>
</div>