<div id="responsive-menu-search-box">
    <form action="{{ search_url }}" class="responsive-menu-search-form" role="search">
        <input type="search" name="s" title="Search"
               placeholder="{{ options.menu_search_box_text|translate('menu_search_box_text') }}"
               class="responsive-menu-search-box">
    </form>
</div>