.tab_container
{
	display: none;
}

#all_options_container,
#banner_area
{
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
}

#all_options_container
{
  width: 70%;
}

#banner_area
{
  width: 24%;
  margin-top: 53px;
  margin-left: 2%;
  padding: 15px 2%;
  background: #DE4B42;
  color: #fff;
  border: 1px solid #D33C34;
  border-radius: 2px;
}

.tab_container_1
{
	display: block;
}

.tab
{
	display: inline-block;
	padding: 5px;
	text-align: center;
	border: 1px solid #CCC;
	border-radius: 2px;
	cursor: pointer;
	background: white;
}

.option_holder
{
	display: inline-block;
	width: 33%;
  vertical-align: top;
}

.option_holder h4
{
	margin-bottom: 0;
}

.option_holder h5
{
	margin: 5px 0;
  font-weight: normal;
}

.options_container
{
	background: white;
	border: 1px solid #CCC;
	border-radius: 2px;
	padding: 0 15px 15px 15px;
}

.options_container input,
.options_container textarea,
.options_container select
{
	width: 90%;
	border: 1px solid #CCC;
	border-radius: 2px;
	padding: 5px;
	background: white;
}

ul#adminmenu a.wp-has-current-submenu::after,
ul#adminmenu > li.current > a.current::after
{
	border-color: transparent #DE4B42 transparent transparent;
}

/* On-Off Buttons */

.onoffswitch {
    position: relative; width: 74px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #DE4B42; border-radius: 12px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #DE4B42; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 13px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 47px;
    border: 2px solid #999999; border-radius: 12px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

input[type="checkbox"]
{
  display: none;
}

/* End On-Off Buttons */

/* Nice Select Button Styling */

.select-style {
    border: 1px solid #ccc;
    width: 90%;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==")no-repeat 95% 50%;
}

.select-style select {
    padding: 9px 5%;
    width: 115%;
    border: none;
    cursor: pointer;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    height: auto;
}

.select-style select:focus {
    outline: none;
}

/* End Select Button Styling */

/* Text Box Styling */

input[type="text"].text,
input[type="text"].image
{
  padding: 10px 5%;
  border: 1px solid #c9c9c9;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

input[type="text"].text:focus,
input[type="text"].text.focus,
input[type="text"].image:focus,
input[type="text"].image.focus,
{
  border-bottom: solid 2px #969696;
}

input[type="text"].image
{
  width: 74%;
}

input[type="button"].image_button
{
  width: 15%;
  height: 42px;
}

input[type="text"].image,
input[type="button"].image_button
{
  display: inline-block;
}

/* End Text Box Styling */
