#responsive-menu-admin .pro::before,
#responsive-menu-admin .semi-pro::before {
    content: "PRO";
    float: right;
    color: #DE4B42;
    font-weight: bold;
    font-size: 9px;
    margin-top: 10px;
    border-left: 1px solid #DE4B42;
    padding-left: 8px;
    padding-right: 8px;
}

#responsive-menu-admin .semi-pro::before {
    content: "SEMI PRO";
    color: #333;
    border-color: #333;
}

#responsive-menu-admin .responsive-menu-pro-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(222, 75, 66, 0.6);
    text-align: center;
    z-index: 3;
}

#responsive-menu-admin .responsive-menu-pro-overlay a {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    color: white;
    font-size: 17px;
    display: block;
}

#responsive-menu-admin .pro-container:hover .responsive-menu-pro-overlay,
#responsive-menu-admin tr.pro-row:hover .responsive-menu-pro-overlay {
    display: block;
}

#responsive-menu-admin #hide-pro-options-label {
    text-align: right;
}

#responsive-menu-admin #hide-pro-options {
    display: inline-block;
    width: auto !important;
    vertical-align: sub;
}

.rtl #responsive-menu-admin .pro::before,
.rtl #responsive-menu-admin .semi-pro::before {
    float: left;
}

#responsive-menu-admin #upgrade-bottom-banner a,
#responsive-menu-admin #upgrade-banner-title a {
    color: #ffffff;
}

#responsive-menu-admin #upgrade-banner {
    color: #fff;
    border-radius: 2px;
    text-align: center;
    margin: 0 auto 15px auto;
    background-color: #0d2446;
    background-repeat: no-repeat;
    background-image: url('../../img/banner.jpg');
    padding-top: 105px;
    background-position: center top;
    max-width: 350px;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

#responsive-menu-admin #upgrade-banner .button {
    background: #f80768;
    color: #ffffff;
}

#responsive-menu-admin #upgrade-banner .button:hover {
    background: #ffcf00;
    color: #f80768;
}

#responsive-menu-admin #upgrade-banner i {
    margin-right: 5px;
}

#responsive-menu-admin #upgrade-banner .glyphicon {
    margin-right: 5px;
}

#responsive-menu-admin #upgrade-banner ul  {
    margin: 25px 0 35px 0;
}

#responsive-menu-admin #upgrade-banner li  {
    list-style: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

#responsive-menu-admin .nav-tabs > li:first-child {
    display: none;
}

#responsive-menu-admin #hide-pro-options-label {
    padding: 10px;
    font-size: 12px;
    display: inline;
}

#responsive-menu-admin #hide-pro-options-label input {
    margin-left: 5px;
}
