.container-fluid form.form-horizontal label {
    display: block;
    width: 100%;
    text-align: left;
}

.container-fluid form.form-horizontal .bootstrap-select,
.container-fluid form.form-horizontal input {
    width: calc(100% - 75px) !important;
}

.container-fluid form.form-horizontal td {
    vertical-align: middle;
}

.container-fluid form.form-horizontal .panel {
    border-radius: 0;
}

.container-fluid form.form-horizontal .glyphicon.glyphicon-ok {
    color: green;
}

.container-fluid .alert,
.container-fluid .nav-tabs {
    margin-top: 25px;
}

.pro::before,
.semi-pro::before {
    content: "PRO";
    float: right;
    color: #DE4B42;
    font-weight: bold;
    font-size: 9px;
    margin-top: 10px;
    border-left: 1px solid #DE4B42;
    padding-left: 8px;
    padding-right: 8px;
}

.semi-pro::before {
    content: "SEMI PRO";
    color: #333;
    border-color: #333;
}

.sub-text {
    color: #777;
    padding-top: 5px;
    font-size: 13px;
    font-weight: normal;
}

.example {
    padding-top: 2px;
    color: dimgray;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
}

.unit {
    font-size: 12px;
    margin-left: 5px;
}