.container-fluid #banner-area,
.container-fluid #options-area {
    display: inline-block;
    width: 75%;
    vertical-align: top;
}

.container-fluid #banner-area {
    width: 20%;
    margin-left: 5%;
}

.container-fluid form.form-horizontal .input-group {
    width:100%;
}

.container-fluid form.form-horizontal .input-group-btn {
    width:189px;
}

.container-fluid form.form-horizontal .toggle.btn {
    width: 50px !important;
}

.container-fluid form.form-horizontal label {
    display: block;
    width: 100%;
    text-align: left;
}

.container-fluid form.form-horizontal #header-bar-items-order-container label {
    text-align: center;
}

.container-fluid form.form-horizontal .selectize-input,
.container-fluid form.form-horizontal .bootstrap-select,
.container-fluid form.form-horizontal input,
.container-fluid form.form-horizontal textarea {
    width: calc(100% - 75px) !important;
    display: inline-block;
}

.container-fluid form.form-horizontal input#responsive-menu-button-trigger-type-selectized {
    width: auto !important;
}

.container-fluid form.form-horizontal .input-group input {
    width: 100% !important;
}

.container-fluid form.form-horizontal .bootstrap-filestyle,
.container-fluid form.form-horizontal input.has-unit {
    width: calc(100% - 179px) !important;
}

.container-fluid form.form-horizontal input.font-icon-input {
    width: 70% !important;
}

.container-fluid form.form-horizontal .font-icon-select {
    width: calc(30% - 75px) !important;
}

.container-fluid form.form-horizontal .bootstrap-select.is-unit {
    width: 100px !important;
}

.container-fluid form.form-horizontal td {
    vertical-align: middle;
}

.container-fluid form.form-horizontal td {
    padding: 15px;
}

.container-fluid form.form-horizontal ul {
    margin-bottom: 0;
}

.container-fluid form.form-horizontal #font-icon-container {
    width: 100%;
}

.container-fluid form.form-horizontal #font-icon-container td {
    padding: 0 0 10px 0;
}

.container-fluid form.form-horizontal #font-icon-container td input {
    width: 95% !important;
}

.container-fluid form.form-horizontal #font-icon-container td:first-child {
    width: 150px;
}

.container-fluid form.form-horizontal .panel {
    border-radius: 0;
}

.container-fluid form.form-horizontal .panel-body {
    font-weight: bold;
    font-size: 16px;
}

.container-fluid form.form-horizontal .panel-body small {
    display: none;
    float: right;
    color: #333;
    font-weight: normal;
    line-height: 22px;
}

.container-fluid form.form-horizontal .delete-font-icon-row {
    cursor: pointer;
}

.container-fluid form.form-horizontal .glyphicon.glyphicon-ok {
    color: green;
}

.container-fluid .alert,
.container-fluid ul.nav-tabs {
    margin-top: 25px;
}

.container-fluid form.form-horizontal input#filter-options {
    padding: 0 15px;
    width: 100% !important;
    height: 50px;
}

.container-fluid form.form-horizontal #filter-options-container {
    margin: 25px 0;
    background: #F5F5F5;
    padding: 15px;
    border: 1px solid #ddd;
}

.container-fluid form.form-horizontal ul.nav-tabs .btn-default {
    margin-right: 5px;
}

.selectize-control.multi .selectize-input > div,
.selectize-control.multi .selectize-input > div.active {
    background: #5cb85c;
    color: white;
}

.selectize-control.multi.keyboard-shortcuts .selectize-input .item,
.selectize-control.multi .selectize-input > div[data-value="mouseover"],
.selectize-control.multi .selectize-input > div.active[data-value="mouseover"] {
    background: #DE4B42;
}

.pro::before,
.semi-pro::before {
    content: "PRO";
    float: right;
    color: #DE4B42;
    font-weight: bold;
    font-size: 9px;
    margin-top: 10px;
    border-left: 1px solid #DE4B42;
    padding-left: 8px;
    padding-right: 8px;
}

.semi-pro::before {
    content: "SEMI PRO";
    color: #333;
    border-color: #333;
}

.sub-text {
    color: #777;
    padding-top: 5px;
    font-size: 13px;
    font-weight: normal;
}

.sub_sub_title {
    padding-top: 2px;
    color: dimgray;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
}

.unit {
    font-size: 12px;
    margin-left: 5px;
}

.option-highlight .well,
.option-highlight,
.table-hover > tbody > tr.option-highlight
.table-hover > tbody > tr.option-highlight:hover,
.table-hover > tbody > tr.option-highlight td,
.table-hover > tbody > tr.option-highlight td:hover {
    background-color: #ffff99 !important;
}

.draggable {
    border-radius: 2px;
    background: #EFEFEF;
    padding: 10px 0;
    margin: 4px 0;
    cursor: move;
    padding-left: 65px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.draggable input {
    display: none !important;
}

.menu-order-option-switch,
.order-option-switch {
    background: #DE4B42;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: 40px;
    padding: 0 5px;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

.menu-order-option-switch.menu-order-option-switch-on,
.order-option-switch.order-option-switch-on {
    background: #5cb85c;
}

.menu-order-option-switch:after,
.order-option-switch:after {
    content: "OFF";
}

.menu-order-option-switch.menu-order-option-switch-on:after,
.order-option-switch.order-option-switch-on:after {
    content: "ON";
}

li.draggable {
    position: relative;
}

#upgrade-banner {
    padding: 25px 5%;
    background: #DE4B42;
    color: #fff;
    border: 1px solid #D33C34;
    border-radius: 2px;
    text-align: center;
}

#upgrade-banner i {
    margin-right: 5px;
}

#docs-banner {
    background: #FAB719;
    padding: 35px;
    color: #333;
    margin-top: 15px;
    text-align: center;
}

#upgrade-banner,
#docs-banner {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

#upgrade-banner .glyphicon {
    margin-right: 5px;
}

#upgrade-banner li  {
    list-style: none;
    font-weight: bold;
    font-size: 11px;
}

#docs-banner .button,
#upgrade-banner .button {
    background: white;
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 13px;
    color: #333;
    display: block;
    margin: auto;
    width: auto;
    text-align: center;
}

#docs-banner .button {
    margin-top: 15px;
}

.key-container {
    margin: 15px 0;
    background: white;
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.key-container .key-title {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}

.key-container .key {
    display: inline-block;
    font-size: 9px;
    border: 1px solid #DADADA;
    border-radius: 2px;
    padding: 5px 15px 5px 5px;
    background: white;
}

.key-container .key span {
    border-right: 1px solid #de4b42;
    display: inline-block;
    padding-right: 5px;
    margin-right: 10px;
    color: #de4b42;
    font-size: 9px;
    font-weight: bold;
}

.key-container .key.key-semi-pro span {
    color: #333;
    border-color: #333;
}

.key-container .key.key-pro {
    margin-bottom: 15px;
}

.key-container a {
    text-decoration: none;
    color: #333;
}

#add-font-icon {
    margin-top: 15px;
}

.mini-colours {
    cursor: pointer;
}

#header-bar-items-order-container td {
    width: 100%;
    display: block;
    padding: 20px;
    border: 0;
    box-sizing: border-box;
    text-align: center;
}

#header-bar-items-order-container .draggable {
    display: inline-block;
    width: 19%;
    text-align: left;
}

.container-fluid form.form-horizontal td.well .sub-text ul {
    margin: 15px;
}

.container-fluid form.form-horizontal td.well .sub-text ul li {
    list-style: disc;
}

.container-fluid form.form-horizontal td.pro {
    position: relative;
}

.container-fluid form.form-horizontal td.pro .responsive-menu-pro-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(222, 75, 66, 0.6);
    text-align: center;
    z-index: 3;
}

.container-fluid form.form-horizontal td.pro .responsive-menu-pro-overlay a {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    color: white;
    font-size: 17px;
    display: block;
}

.container-fluid form.form-horizontal td.pro:hover .responsive-menu-pro-overlay {
    display: block;
}

#responsive-menu-header-bar-html-content,
#responsive-menu-menu-additional-content {
    height: 250px;
}

#responsive-menu-custom-css {
    height: 500px
}

.rtl #header-bar-items-order-container .draggable,
.rtl .container-fluid form.form-horizontal label,
.rtl .bootstrap-select.btn-group .dropdown-toggle .filter-option,
.rtl .bootstrap-select.btn-group .dropdown-menu.inner {
    text-align: right;
}

.rtl .input-group .form-control:last-child,
.rtl .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.rtl .input-group-btn:first-child > .btn:not(:first-child),
.rtl .input-group-btn:last-child > .btn,
.rtl .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
    border-radius: 4px 0 0 4px;
}

.rtl .draggable {
    padding-right: 25px;
}

.rtl .btn-group-lg > .btn, .btn-lg,
.rtl .container-fluid form.form-horizontal .panel-body small {
    margin-left: 15px;
}

.rtl .toggle-off {
    right: -50%;
    text-align: left !important;
}

.rtl .pro::before,
.rtl .semi-pro::before {
    float: left;
}

.rtl .minicolors-theme-bootstrap .minicolors-swatch {
    left: 75px;
}

.rtl .container-fluid form.form-horizontal .minicolors input {
    width: calc(100% - 125px) !important;
}

.rtl .container-fluid #banner-area {
    margin-left: 0;
    margin-right: 5%;
}

.rtl .key-container .key span {
    margin-left: 10px;
    margin-right: 0;
}

.rtl .key-container .key {
    padding-left: 10px;
}

@media screen and (max-width: 1200px) {
    .container-fluid #banner-area,
    .container-fluid #options-area {
        width: 100%;
        display: block;
    }
    .container-fluid #banner-area {
        margin: 25px 0 25px 0;
    }
}

@media screen and (max-width: 1000px) {
    .nav.nav-tabs > li {
        width: 49%;
        display: inline-block;
        float: none;
        margin: 0;
        text-align: center;
    }

    .nav.nav-tabs > li.pull-right {
        display: none;
    }
    .container-fluid form.form-horizontal td {
        width: 100%;
        display: block;
    }
    .container-fluid form.form-horizontal td.well {
        margin-bottom: 0;
    }
}