@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#responsive-menu-admin {
    font-family: "Open Sans";
}

#responsive-menu-admin #banner-area,
#responsive-menu-admin #options-area {
    display: inline-block;
    width: 75%;
    vertical-align: top;
}

#responsive-menu-admin #banner-area {
    width: 20%;
    margin-left: 5%;
    margin-top: 25px;
}

#responsive-menu-admin .input-group {
    width:100%;
}

#responsive-menu-admin .input-group-btn {
    width:189px;
}

#responsive-menu-admin .toggle.btn {
    width: 50px !important;
}

#responsive-menu-admin label {
    display: block;
    width: 100%;
    text-align: left;
}

#responsive-menu-admin #header-bar-items-order-container label {
    text-align: center;
}

#responsive-menu-admin #header-bar-items-order-container .well {
    display: none;
}

#responsive-menu-admin .selectize-input,
#responsive-menu-admin .bootstrap-select,
#responsive-menu-admin input,
#responsive-menu-admin textarea {
    width: calc(100% - 75px) !important;
    display: inline-block;
}

#responsive-menu-admin input#responsive-menu-button-trigger-type-selectized {
    width: auto !important;
}

#responsive-menu-admin .input-group input {
    width: 100% !important;
}

#responsive-menu-admin .bootstrap-filestyle,
#responsive-menu-admin input.has-unit {
    width: calc(100% - 179px) !important;
}

#responsive-menu-admin input.font-icon-input {
    width: 70% !important;
}

#responsive-menu-admin .font-icon-select {
    width: calc(30% - 75px) !important;
}

#responsive-menu-admin .bootstrap-select.is-unit {
    width: 100px !important;
}

#responsive-menu-admin td {
    vertical-align: middle;
}

#responsive-menu-admin td {
    padding: 15px;
}

#responsive-menu-admin ul {
    margin-bottom: 0;
}

#responsive-menu-admin #font-icon-container {
    width: 100%;
}

#responsive-menu-admin #font-icon-container td {
    padding: 0 0 10px 0;
}

#responsive-menu-admin #font-icon-container td input {
    width: 95% !important;
}

#responsive-menu-admin #font-icon-container td:first-child {
    width: 150px;
}

#responsive-menu-admin .panel {
    border-radius: 0;
}

#responsive-menu-admin .panel-body {
    font-weight: bold;
    font-size: 16px;
}

#responsive-menu-admin .panel-header .glyphicon,
#responsive-menu-admin .panel-body .glyphicon {
    margin-right: 10px;
}

#responsive-menu-admin .panel-body small {
    display: none;
    float: right;
    color: #333;
    font-weight: normal;
    line-height: 22px;
}

#responsive-menu-admin .delete-font-icon-row {
    cursor: pointer;
}

#responsive-menu-admin .glyphicon.glyphicon-ok {
    color: green;
}

#responsive-menu-admin .top-submit-buttons,
#responsive-menu-admin .alert,
#responsive-menu-admin ul.nav-tabs {
    margin-top: 25px;
}

#responsive-menu-admin .top-submit-buttons {
    padding: 0;
}

#responsive-menu-admin .top-submit-buttons button {
    margin-left: 5px;
}

#responsive-menu-admin .nav-tabs {
    border: none;
}

#responsive-menu-admin .nav-tabs > li {
    margin-bottom: 0;
}

#responsive-menu-admin .nav-tabs > li > a {
    background: none;
    border: 0;
    border-radius: 0;
}

#responsive-menu-admin .nav-tabs > li.active > a,
#responsive-menu-admin .nav-tabs > li.active > a:focus,
#responsive-menu-admin .nav-tabs > li.active > a:hover {
    border: 0;
    border-radius: 0;
}

#responsive-menu-admin .nav-tabs .label {
    margin: 0 10px;
}

#responsive-menu-admin .nav > li > a {
    padding: 10px;
}

#responsive-menu-admin .nav > li > a {
    padding: 10px;
}

#responsive-menu-admin input#filter-options {
    padding: 0 15px;
    width: 100% !important;
    height: 50px;
}

#responsive-menu-admin #filter-options-container {
    margin-top: 25px;
}

#responsive-menu-admin ul.nav-tabs .btn-default {
    margin-right: 5px;
}

#responsive-menu-admin .selectize-control.multi .selectize-input > div,
#responsive-menu-admin .selectize-control.multi .selectize-input > div.active {
    background: #5cb85c;
    color: white;
}

#responsive-menu-admin .selectize-control.multi.keyboard-shortcuts .selectize-input .item,
#responsive-menu-admin .selectize-control.multi .selectize-input > div[data-value="mouseover"],
#responsive-menu-admin .selectize-control.multi .selectize-input > div.active[data-value="mouseover"] {
    background: #DE4B42;
}

#responsive-menu-admin .pro::before,
#responsive-menu-admin .semi-pro::before {
    content: "PRO";
    float: right;
    color: #DE4B42;
    font-weight: bold;
    font-size: 9px;
    margin-top: 10px;
    border-left: 1px solid #DE4B42;
    padding-left: 8px;
    padding-right: 8px;
}

#responsive-menu-admin .semi-pro::before {
    content: "SEMI PRO";
    color: #333;
    border-color: #333;
}

#responsive-menu-admin .sub-text {
    color: #777;
    padding-top: 5px;
    font-size: 13px;
    font-weight: normal;
}

#responsive-menu-admin .sub_sub_title {
    padding-top: 2px;
    color: dimgray;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
}

#responsive-menu-admin .unit {
    font-size: 12px;
    margin-left: 5px;
}

#responsive-menu-admin .option-highlight .well,
#responsive-menu-admin .option-highlight,
#responsive-menu-admin .table-hover > tbody > tr.option-highlight
#responsive-menu-admin .table-hover > tbody > tr.option-highlight:hover,
#responsive-menu-admin .table-hover > tbody > tr.option-highlight td,
#responsive-menu-admin .table-hover > tbody > tr.option-highlight td:hover {
    background-color: #ffff99 !important;
}

#responsive-menu-admin .draggable {
    border-radius: 2px;
    background: #EFEFEF;
    padding: 10px 0;
    margin: 4px 0;
    cursor: move;
    padding-left: 65px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

#responsive-menu-admin .draggable input {
    display: none !important;
}

#responsive-menu-admin .menu-order-option-switch,
#responsive-menu-admin .order-option-switch {
    background: #DE4B42;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: 40px;
    padding: 0 5px;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

#responsive-menu-admin .menu-order-option-switch.menu-order-option-switch-on,
#responsive-menu-admin .order-option-switch.order-option-switch-on {
    background: #5cb85c;
}

#responsive-menu-admin .menu-order-option-switch:after,
#responsive-menu-admin .order-option-switch:after {
    content: "OFF";
}

#responsive-menu-admin .menu-order-option-switch.menu-order-option-switch-on:after,
#responsive-menu-admin .order-option-switch.order-option-switch-on:after {
    content: "ON";
}

#responsive-menu-admin li.draggable {
    position: relative;
}

#responsive-menu-admin #upgrade-banner {
    padding: 25px 5%;
    background: #DE4B42;
    color: #fff;
    border: 1px solid #D33C34;
    border-radius: 2px;
    text-align: center;
}

#responsive-menu-admin #upgrade-banner i {
    margin-right: 5px;
}

#responsive-menu-admin #docs-banner {
    background: #FAB719;
    padding: 35px;
    color: #333;
    margin-top: 15px;
    text-align: center;
}

#responsive-menu-admin #upgrade-banner,
#responsive-menu-admin #docs-banner {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

#responsive-menu-admin #upgrade-banner .glyphicon {
    margin-right: 5px;
}

#responsive-menu-admin #upgrade-banner li  {
    list-style: none;
    font-weight: bold;
    font-size: 11px;
}

#responsive-menu-admin #docs-banner .button,
#responsive-menu-admin #upgrade-banner .button {
    background: white;
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 13px;
    color: #333;
    display: block;
    margin: auto;
    width: auto;
    text-align: center;
}

#responsive-menu-admin #docs-banner .button {
    margin-top: 15px;
}

#responsive-menu-admin .key-container {
    margin: 15px 0;
    background: white;
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

#responsive-menu-admin .key-container .key-title {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}

#responsive-menu-admin .key-container .key {
    display: inline-block;
    font-size: 9px;
    border: 1px solid #DADADA;
    border-radius: 2px;
    padding: 5px 15px 5px 5px;
    background: white;
}

#responsive-menu-admin .key-container .key span {
    border-right: 1px solid #de4b42;
    display: inline-block;
    padding-right: 5px;
    margin-right: 10px;
    color: #de4b42;
    font-size: 9px;
    font-weight: bold;
}

#responsive-menu-admin .key-container .key.key-semi-pro span {
    color: #333;
    border-color: #333;
}

#responsive-menu-admin .key-container .key.key-pro {
    margin-bottom: 15px;
}

#responsive-menu-admin .key-container a {
    text-decoration: none;
    color: #333;
}

#responsive-menu-admin #add-font-icon {
    margin-top: 15px;
}

#responsive-menu-admin .mini-colours {
    cursor: pointer;
}

#responsive-menu-admin #header-bar-items-order-container td {
    width: 100%;
    display: block;
    padding: 20px;
    border: 0;
    box-sizing: border-box;
    text-align: center;
}

#responsive-menu-admin #header-bar-items-order-container .draggable {
    display: inline-block;
    width: 19%;
    text-align: left;
}

#responsive-menu-admin td.well .sub-text ul {
    margin: 15px;
}

#responsive-menu-admin td.well .sub-text ul li {
    list-style: disc;
}

#responsive-menu-admin td.pro {
    position: relative;
}

#responsive-menu-admin td.pro .responsive-menu-pro-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(222, 75, 66, 0.6);
    text-align: center;
    z-index: 3;
}

#responsive-menu-admin td.pro .responsive-menu-pro-overlay a {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    color: white;
    font-size: 17px;
    display: block;
}

#responsive-menu-admin td.pro:hover .responsive-menu-pro-overlay {
    display: block;
}

#responsive-menu-admin #responsive-menu-header-bar-html-content,
#responsive-menu-admin #responsive-menu-menu-additional-content {
    height: 250px;
}

#responsive-menu-admin #responsive-menu-custom-css {
    height: 500px
}

#responsive-menu-admin #hide-pro-options-label {
    text-align: right;
}

#responsive-menu-admin #hide-pro-options {
    display: inline-block;
    width: auto !important;
    vertical-align: sub;
}

.rtl #responsive-menu-admin #header-bar-items-order-container .draggable,
.rtl #responsive-menu-admin #responsive-menu-admin label,
.rtl #responsive-menu-admin .bootstrap-select.btn-group .dropdown-toggle .filter-option,
.rtl #responsive-menu-admin .bootstrap-select.btn-group .dropdown-menu.inner {
    text-align: right;
}

.rtl #responsive-menu-admin .input-group .form-control:last-child,
.rtl #responsive-menu-admin .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.rtl #responsive-menu-admin .input-group-btn:first-child > .btn:not(:first-child),
.rtl #responsive-menu-admin .input-group-btn:last-child > .btn,
.rtl #responsive-menu-admin .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
    border-radius: 4px 0 0 4px;
}

.rtl #responsive-menu-admin .draggable {
    padding-right: 25px;
}

.rtl #responsive-menu-admin .btn-group-lg > .btn, .btn-lg,
.rtl #responsive-menu-admin .panel-body small {
    margin-left: 15px;
}

.rtl #responsive-menu-admin .toggle-off {
    right: -50%;
    text-align: left !important;
}

.rtl #responsive-menu-admin .pro::before,
.rtl #responsive-menu-admin .semi-pro::before {
    float: left;
}

.rtl #responsive-menu-admin .minicolors-theme-bootstrap .minicolors-swatch {
    left: 75px;
}

.rtl #responsive-menu-admin .minicolors input {
    width: calc(100% - 125px) !important;
}

.rtl #responsive-menu-admin #banner-area {
    margin-left: 0;
    margin-right: 5%;
}

.rtl #responsive-menu-admin .key-container .key span {
    margin-left: 10px;
    margin-right: 0;
}

.rtl #responsive-menu-admin .key-container .key {
    padding-left: 10px;
}

@media screen and (max-width: 1200px) {

    #responsive-menu-admin #banner-area,
    #responsive-menu-admin #options-area {
        width: 100%;
        display: block;
    }

    #responsive-menu-admin #banner-area {
        margin: 25px 0 25px 0;
    }

}

@media screen and (max-width: 1000px) {

    #responsive-menu-admin .nav.nav-tabs > li {
        width: 49%;
        display: inline-block;
        float: none;
        margin: 0;
        text-align: center;
    }

    #responsive-menu-admin .nav.nav-tabs > li.pull-right {
        display: none;
    }

    #responsive-menu-admin td {
        width: 100%;
        display: block;
    }

    #responsive-menu-admin td.well {
        margin-bottom: 0;
    }

}