/**
    Responsive Menu CSS file.
    Safe to Copy
**/

/* vietnamese */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/SKK6Nusyv8QPNMtI4j9J2yEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/gFXtEMCp1m_YzxsBpKl68iEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


#responsive-menu-admin {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#responsive-menu-admin #banner-area,
#responsive-menu-admin #options-area {
    display: inline-block;
    width: 75%;
    vertical-align: top;
}

#responsive-menu-admin #banner-area {
    width: 20%;
    margin-left: 5%;
    margin-top: 25px;
}

#responsive-menu-admin .input-group {
    width:100%;
}

#responsive-menu-admin .input-group-btn {
    width:189px;
}

#responsive-menu-admin .toggle.btn {
    width: 50px !important;
}

#responsive-menu-admin label {
    display: block;
    width: 100%;
    text-align: left;
}

#responsive-menu-admin .selectize-input,
#responsive-menu-admin .bootstrap-select,
#responsive-menu-admin input,
#responsive-menu-admin textarea {
    width: calc(100% - 75px) !important;
    display: inline-block;
}

#responsive-menu-admin .selectize-input input,
#responsive-menu-admin input#responsive-menu-button-trigger-type-selectized {
    width: auto !important;
}

#responsive-menu-admin .input-group input {
    width: 100% !important;
}

#responsive-menu-admin .bootstrap-filestyle,
#responsive-menu-admin input.has-unit {
    width: calc(100% - 179px) !important;
}

#responsive-menu-admin input.font-icon-input {
    width: 70% !important;
}

#responsive-menu-admin .font-icon-select {
    width: calc(30% - 75px) !important;
}

#responsive-menu-admin .bootstrap-select.is-unit {
    width: 100px !important;
}

#responsive-menu-admin td {
    vertical-align: middle;
}

#responsive-menu-admin td {
    padding: 15px;
}

#responsive-menu-admin ul {
    margin-bottom: 0;
}

#responsive-menu-admin #font-icon-container {
    width: 100%;
}

#responsive-menu-admin #font-icon-container td {
    padding: 0 0 10px 0;
}

#responsive-menu-admin #font-icon-container td input {
    width: 95% !important;
}

#responsive-menu-admin #font-icon-container td:first-child {
    width: 150px;
}

#responsive-menu-admin .panel {
    border-radius: 0;
}

#responsive-menu-admin .panel-body {
    font-weight: bold;
    font-size: 16px;
}

#responsive-menu-admin .panel-header .glyphicon,
#responsive-menu-admin .panel-body .glyphicon {
    margin-right: 10px;
}

#responsive-menu-admin .panel-body small {
    display: none;
    float: right;
    font-weight: normal;
    line-height: 22px;
}

#responsive-menu-admin .delete-font-icon-row {
    cursor: pointer;
}

#responsive-menu-admin .glyphicon.glyphicon-ok {
    color: green;
}

#responsive-menu-admin .top-submit-buttons,
#responsive-menu-admin .alert,
#responsive-menu-admin ul.nav-tabs {
    margin-top: 25px;
}

#responsive-menu-admin .top-submit-buttons {
    padding: 0;
}

#responsive-menu-admin .top-submit-buttons button {
    margin-left: 5px;
}

#responsive-menu-admin .nav-tabs {
    border: none;
    padding: 0;
}

#responsive-menu-admin .nav-tabs > li > a {
    background: none;
    border: 0;
    border-radius: 0;
}

#responsive-menu-admin .nav-tabs > li.active > a,
#responsive-menu-admin .nav-tabs > li.active > a:focus,
#responsive-menu-admin .nav-tabs > li.active > a:hover {
    border: 0;
    border-radius: 0;
}

#responsive-menu-admin .nav-tabs .label {
    margin: 0 10px;
    vertical-align: middle;
}

#responsive-menu-admin .nav-tabs > li {
    margin-bottom: 0;
}

#responsive-menu-admin .nav > li > a {
    padding: 10px;
}

#responsive-menu-admin input#filter-options {
    padding: 0 15px;
    width: 100% !important;
    height: 50px;
}

#responsive-menu-admin #filter-options-container {
    margin-top: 25px;
}

#responsive-menu-admin ul.nav-tabs .btn-default {
    margin-right: 5px;
}

#responsive-menu-admin .input-group-btn .btn,
#responsive-menu-admin .btn.btn-rm {
    border-radius: 0;
    border: 0;
    padding: 12px;
}

#responsive-menu-admin .selectize-control.multi .selectize-input > div,
#responsive-menu-admin .selectize-control.multi .selectize-input > div.active {
    background: #5cb85c;
    color: white;
}

#responsive-menu-admin .sub-text {
    color: #777;
    padding-top: 5px;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 15px;
}

#responsive-menu-admin .sub_sub_title {
    padding-top: 2px;
    color: dimgray;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
}

#responsive-menu-admin .unit {
    font-size: 12px;
    margin-left: 5px;
}

#responsive-menu-admin .option-highlight .col-left,
#responsive-menu-admin .option-highlight,
#responsive-menu-admin .table-hover > tbody > tr.option-highlight,
#responsive-menu-admin .table-hover > tbody > tr.option-highlight:hover,
#responsive-menu-admin .table-hover > tbody > tr.option-highlight td,
#responsive-menu-admin .table-hover > tbody > tr.option-highlight td:hover {
    background-color: #ffff99 !important;
}

#responsive-menu-admin .panel table tr.option-highlight td.col-right,
#responsive-menu-admin .panel table tr.option-highlight td.col-left label,
#responsive-menu-admin .panel table tr.option-highlight td.col-left .sub-text,
#responsive-menu-admin .panel table tr.option-highlight td.col-left .sub_sub_title {
    color: #333;
}

#responsive-menu-admin .draggable {
    border-radius: 2px;
    background: #EFEFEF;
    padding: 10px 0;
    margin: 4px 0;
    cursor: move;
    padding-left: 65px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

#responsive-menu-admin .draggable input {
    display: none !important;
}

#responsive-menu-admin .dashed-placeholder {
    border: 3px #CCC dashed;
    height: 50px;
}

#responsive-menu-admin .menu-order-option-switch,
#responsive-menu-admin .order-option-switch {
    background: #DE4B42;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: 40px;
    padding: 0 5px;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

#responsive-menu-admin .menu-order-option-switch.menu-order-option-switch-on,
#responsive-menu-admin .order-option-switch.order-option-switch-on {
    background: #5cb85c;
}

#responsive-menu-admin .menu-order-option-switch:after,
#responsive-menu-admin .order-option-switch:after {
    content: "OFF";
}

#responsive-menu-admin .menu-order-option-switch.menu-order-option-switch-on:after,
#responsive-menu-admin .order-option-switch.order-option-switch-on:after {
    content: "ON";
}

#responsive-menu-admin li.draggable {
    position: relative;
}

#responsive-menu-admin #upgrade-banner,
#responsive-menu-admin #docs-banner,
#responsive-menu-admin #themes-banner {
    background: #FAB719;
    padding: 35px;
    color: #333;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

#responsive-menu-admin #upgrade-banner .button,
#responsive-menu-admin #docs-banner .button,
#responsive-menu-admin #themes-banner .button {
    background: white;
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 13px;
    color: #333;
    display: block;
    margin: auto;
    width: auto;
    text-align: center;
    margin-top: 15px;
}

#responsive-menu-admin #themes-banner {
    background: #d9534f;
    color: white;
    margin-bottom: 15px;
}

#responsive-menu-admin #add-font-icon {
    margin-top: 15px;
}

#responsive-menu-admin .mini-colours {
    cursor: pointer;
}

#responsive-menu-admin #header-bar-items-order-container .draggable {
    display: inline-block;
    width: 19%;
    text-align: left;
}

#responsive-menu-admin td.col-left .sub-text ul {
    margin: 15px;
}

#responsive-menu-admin td.col-left .sub-text ul li {
    list-style: disc;
}

#responsive-menu-admin .panel,
#responsive-menu-admin .panel table,
#responsive-menu-admin .panel table td,
#responsive-menu-admin .panel table th,
#responsive-menu-admin .panel table td.col-left {
    border: 0;
}

#responsive-menu-admin a.remove {
    color: white;
}

#responsive-menu-admin .panel table td.col-left {
    border-radius: 0;
    box-shadow: none;
}

#responsive-menu-admin .panel table td.col-left,
#responsive-menu-admin .panel table td.col-right {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#responsive-menu-admin .panel table td.col-right {
    position: relative;
}

#responsive-menu-admin .panel table td.col-left {
    border-right-width: 1px;
    border-right-style: solid;
}

#responsive-menu-admin .panel table tr:last-child td.col-left {
    border-bottom: 0;
}

#responsive-menu-admin .panel table td.col-left label {
    font-weight: normal;
}

#responsive-menu-admin .responsive-menu-desktop-menu-widget {
    border-width: 1px;
    border-style: solid;
}

#responsive-menu-admin .responsive-menu-desktop-menu-widget.responsive-menu-desktop-menu-image-widget .responsive-menu-desktop-menu-widget-body {
    padding-left: 37.5px;
}

#responsive-menu-admin .panel #font-icon-container td {
    border-bottom: 0;
}

#responsive-menu-admin #responsive-menu-header-bar-html-content,
#responsive-menu-admin #responsive-menu-menu-additional-content {
    height: 250px;
}

#responsive-menu-admin #responsive-menu-custom-css {
    height: 500px;
    font-family: 'monospace';
}

.rtl #responsive-menu-admin #header-bar-items-order-container .draggable,
.rtl #responsive-menu-admin label,
.rtl #responsive-menu-admin .bootstrap-select.btn-group .dropdown-toggle .filter-option,
.rtl #responsive-menu-admin .bootstrap-select.btn-group .dropdown-menu.inner {
    text-align: right;
}

.rtl #responsive-menu-admin .input-group .form-control:last-child,
.rtl #responsive-menu-admin .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.rtl #responsive-menu-admin .input-group-btn:first-child > .btn:not(:first-child),
.rtl #responsive-menu-admin .input-group-btn:last-child > .btn,
.rtl #responsive-menu-admin .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
    border-radius: 4px 0 0 4px;
}

.rtl #responsive-menu-admin .draggable {
    padding-right: 25px;
}

.rtl #responsive-menu-admin .btn-group-lg > .btn, .btn-lg,
.rtl #responsive-menu-admin .panel-body small {
    margin-left: 15px;
}

.rtl #responsive-menu-admin .toggle-off {
    right: -50%;
    text-align: left !important;
}

.rtl #responsive-menu-admin #banner-area {
    margin-left: 0;
    margin-right: 5%;
}

#responsive-menu-admin #responsive-menu-desktop-menu-container {
    border-top: 1px solid #ddd;
}

#responsive-menu-admin #responsive-menu-desktop-menu-container .responsive-menu-desktop-menu-links-container {
    background: #F5F5F5;
    padding: 0;
}

#responsive-menu-admin #responsive-menu-desktop-menu-container .responsive-menu-desktop-menu-links-container,
#responsive-menu-admin #responsive-menu-desktop-menu-container .responsive-menu-desktop-menu-options-wrapper {
    min-height: 600px;
}

#responsive-menu-admin .responsive-menu-desktop-menu-widget-header,
#responsive-menu-admin .responsive-menu-desktop-menu-top-level-label,
#responsive-menu-admin .responsive-menu-desktop-menu-sub-menu-label,
#responsive-menu-admin .responsive-menu-desktop-menu-sub-sub-menu-label {
    cursor: pointer;
}

#responsive-menu-admin .responsive-menu-desktop-menu-top-level-label,
#responsive-menu-admin .responsive-menu-desktop-menu-sub-menu-label,
#responsive-menu-admin .responsive-menu-desktop-menu-sub-sub-menu-label,
#responsive-menu-admin .responsive-menu-desktop-menu-widget-body,
#responsive-menu-admin .responsive-menu-desktop-menu-widget-header {
    padding: 10px;
}

#responsive-menu-admin .responsive-menu-desktop-menu-widget-body {
    background: white;
    padding: 25px 0;
}

#responsive-menu-admin .responsive-menu-desktop-menu-widget-body input,
#responsive-menu-admin .responsive-menu-desktop-menu-widget-body textarea {
    padding: 10px;
    color: #333;
}

#responsive-menu-admin .responsive-menu-desktop-menu-widget-header {
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

#responsive-menu-admin .responsive-menu-desktop-menu-widget {
    border-left: 1px solid #ddd;
    width: 100%;
    background: #F5F5F5;
    margin-bottom: 10px;
}

#responsive-menu-admin .responsive-menu-desktop-menu-sub-menu-label {
    padding-left: 25px;
}

#responsive-menu-admin .responsive-menu-desktop-menu-sub-sub-menu-label {
    padding-left: 45px;
}

#responsive-menu-admin .responsive-menu-desktop-menu-sub-menu-label,
#responsive-menu-admin .responsive-menu-desktop-menu-sub-sub-menu-label,
#responsive-menu-admin .responsive-menu-desktop-menu-sub-sub-sub-menu-label {
    background: white;
    border-bottom: 0;
    border-top: 0;
    display: block;
}

#responsive-menu-admin .responsive-menu-desktop-menu-options-container,
#responsive-menu-admin .responsive-menu-desktop-menu-widget-container {
    display: none;
}

#responsive-menu-admin .responsive-menu-desktop-menu-widget-container {
    background: white;
    padding: 15px;
    border: 1px solid #DDDDDD;
}

#responsive-menu-admin .responsive-menu-desktop-menu-options-container {
    padding: 15px 0;
}

#responsive-menu-admin .responsive-menu-desktop-menu-options-container:first-child {
    display: block;
}

#responsive-menu-admin .responsive-menu-desktop-menu-label-active {
    background: #0073AA;
    color: white;
}

#responsive-menu-admin .docs {
    float: right;
    margin-left: 15px;
    font-weight: 100;
}

#responsive-menu-admin .responsive-menu-desktop-menu-option-container-grid {
    border: 2px solid #DDDDDD;
    padding: 25px;
    text-align: center;
    background: white;
    min-height: 136px;
}

#responsive-menu-admin .responsive-menu-desktop-menu-option-container-grid:empty:after {
    content: "Drag widgets here to begin";
    color: #8c8c8c;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    top: 25px;
}

#responsive-menu-admin .label-info {
    border-radius: 0;
}

#responsive-menu-admin #responsive-menu-desktop-menu-container {
    border: 0;
    position: relative;
}

#responsive-menu-admin .responsive-menu-desktop-menu-option-container-grid .responsive-menu-desktop-menu-widget {
    width: 100% !important;
    background: #F5F5F5;
    margin-bottom: 15px;
}

#responsive-menu-admin .responsive-menu-desktop-menu-option-container-grid .responsive-menu-desktop-menu-widget {
    height: auto !important;
}

#responsive-menu-admin .dropdown-menu {
    padding: 0;
    margin: 0;
}

#responsive-menu-admin .dropdown-menu li {
    margin: 0;
}

#responsive-menu-admin .dropdown-menu > li > a {
    padding: 10px 15px;
}

#responsive-menu-admin .dropdown-menu > li > a .glyphicon {
    top: 9px;
}

#responsive-menu-admin .dropdown-menu > li > a:focus {
    box-shadow: none;
}

#responsive-menu-admin .responsive-menu-desktop-menu-widget-container .responsive-menu-desktop-menu-widget .responsive-menu-desktop-menu-widget-header .glyphicon,
#responsive-menu-admin .responsive-menu-desktop-menu-widget .responsive-menu-desktop-menu-widget-body {
    display: none;
}

#responsive-menu-admin .responsive-menu-desktop-menu-widget .responsive-menu-desktop-menu-widget-header {
    position: relative;
    text-align: center;
}

#responsive-menu-admin .responsive-menu-desktop-menu-widget .responsive-menu-desktop-menu-widget-header .glyphicon {
    position: absolute;
    top: 13px;
    font-size: 12px;
    right: 11px;
    color: #333;
}

#responsive-menu-admin .responsive-menu-desktop-menu-option-container {
    margin-bottom: 15px;
    background: #F5F5F5;
    padding: 15px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
}

#responsive-menu-admin .responsive-menu-desktop-menu-widgets-container {
    margin-top: 25px;
}

#responsive-menu-admin .responsive-menu-desktop-menu-option-badges {
    margin-right: 8px;
}

#responsive-menu-admin #responsive-menu-theme-container {
    margin-top: 15px;
    margin-right: 75px;
}

#responsive-menu-admin img#responsive-menu-theme-preview {
    width: calc(100% - 75px);
}

@media screen and (max-width: 1600px) {

    #responsive-menu-admin .top-submit-buttons,
    #responsive-menu-admin ul.nav-tabs,
    #responsive-menu-admin #banner-area,
    #responsive-menu-admin #options-area {
        width: 100%;
        display: block;
        float: none;
    }

    #responsive-menu-admin #banner-area {
        margin: 25px 0 25px 0;
    }

}

@media screen and (max-width: 1100px) {

    #responsive-menu-admin .nav.nav-tabs > li {
        width: 49%;
        display: inline-block;
        float: none;
        margin: 0;
        text-align: center;
    }

    #responsive-menu-admin .nav.nav-tabs > li.pull-right {
        display: none;
    }

    #responsive-menu-admin td {
        width: 100%;
        display: block;
    }

    #responsive-menu-admin td.col-left {
        margin-bottom: 0;
    }

}
