/*  Menu Trigger Boring Animation */

.rmp-menu-trigger-boring {
    .responsive-menu-pro-inner {
        transition-property: none;
        &::after,
        &::before{
            transition-property: none;
        }
    }

    &.is-active {
        .responsive-menu-pro-inner {
            transform: rotate(45deg);
            &:before{
                top: 0;
                opacity: 0;
            }
            &:after{
                bottom: 0;
                transform: rotate(-90deg);
            }
        }
    }
}

