<div class="panel panel-default">
    <div class="panel-body">Explanation about these options</div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <td class="well">
                    <label for="custom_css" class="col-sm-2 control-label">Custom CSS</label>
                </td>
                <td>
                    <textarea name="menu[custom_css]" class="form-control" id="custom_css" placeholder="Custom CSS">{{ options.custom_css }}</textarea>
                </td>
            </tr>
        </table>
    </div>
</div>