{% import 'admin/macros.html.twig' as macros %}

<div class='panel panel-default'>
    <div class='panel-body'>Custom CSS<small>Custom CSS</small></div>
    <table class='table table-bordered table-hover'>
        {{ macros.row('custom_css', 'Custom CSS', 'textarea', options, errors, '', 'pro') }}
    </table>
</div>