{% import 'admin/macros.html.twig' as macros %}

<div class='panel panel-default'>
    <div class='panel-body'>Options to allow increased productivity.<small>Import/Export</small></div>
    <table class='table table-bordered table-hover'>
        <tr>
            <td class="well col-md-3">
                <label class="control-label">Import</label>
                <div class="sub-text">Warning: This is a destructive process and can't be undone.</div>
            </td>
            <td>
                <input type='file' name='responsive-menu-import-file' />
                <button name='responsive-menu-import' type='submit' class='btn btn-primary btn-lg pull-right'>Import</button>
            </td>
        </tr>
        <tr>
            <td class="well col-md-3">
                <label class="control-label">Export</label>
                <div class="sub-text">This will create an export file for transferring to other sites.</div>
            </td>
            <td><button name='responsive-menu-export' type='submit' class='btn btn-primary btn-lg pull-right'>Export</button></td>
        </tr>
        <tr>
            <td class="well col-md-3">
                <label class="control-label">Reset</label>
                <div class="sub-text">Warning: This is a destructive process and can't be undone.</div>
            </td>
            <td><button name='responsive-menu-reset' type='submit' class='btn btn-danger btn-lg pull-right'>Reset Options</button></td>
        </tr>
        <tr>
            <td class="well col-md-3">
                <label class="control-label">Rebuild database</label>
                <div class="sub-text">This will rebuild the database table if you are having issues.</div>
            </td>
            <td><button name='responsive-menu-rebuild-db' type='submit' class='btn btn-danger btn-lg pull-right'>Rebuild Database</button></td>
        </tr>
    </table>
</div>