{% import 'admin/macros.html.twig' as macros %}

<div class='panel panel-default'>
    <div class='panel-body'>Explanation about these options</div>
    <table class='table table-bordered table-hover'>
        <tr>
            <td class="well col-md-3"><label class="control-label">Import</label></td>
            <td>
                <input type='file' name='responsive-menu-import-file' />
                <button name='responsive-menu-import' type='submit' class='btn btn-primary btn-lg pull-right'>Import</button>
            </td>
        </tr>
        <tr>
            <td class="well col-md-3"><label class="control-label">Export</label></td>
            <td><button name='responsive-menu-export' type='submit' class='btn btn-primary btn-lg pull-right'>Export</button></td>
        </tr>
        <tr>
            <td class="well col-md-3"><label class="control-label">Reset</label></td>
            <td><button name='responsive-menu-reset' type='submit' class='btn btn-danger btn-lg pull-right'>Reset</button></td>
        </tr>
    </table>
</div>