{#
    Responsive Menu Jinja template file.
    Safe to Copy
#}

{% import 'admin/macros.html.twig' as macros %}

{% set section = 'License' %}

<div class="panel panel-default fully-pro-container">
    {{ macros.header('License', section) }}
    <table class="table table-bordered table-hover">
        {% include 'admin/sections/modules/license-key.html.twig' %}
    </table>
</div>
