<div class="panel panel-default">
    <div class="panel-body">Explanation about these options</div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <td class="well col-md-3">
                    <label for="menu_title" class="control-label">Menu Title</label>
                </td>
                <td class="pro">
                    <input type="text" name="menu[menu_title]" value="{{ options.menu_title }}" class="form-control" id="menu_title" placeholder="Menu Title">
                </td>
            </tr>
            <tr class="danger">
                <td class="well col-md-3">
                    <label for="menu_title" class="control-label">
                        Menu Title
                        <div class="sub-text">This is a description with <a href="/">link</a>. Thanks</div>
                    </label>
                </td>
                <td class="semi-pro">
                    <input type="text" name="menu[menu_title]" value="{{ options.menu_title }}" class="form-control" id="menu_title" placeholder="Menu Title">
                </td>
            </tr>
        </table>
    </div>
</div>