{#
    Responsive Menu Jinja template file.
    Safe to Copy
#}

<tr{% if errors.items_order %} class='danger'{% endif %}>
    <td class='col-left col-md-3'>
        <label for='items_order' class='control-label'>Order of Container Items</label>
        <div class='sub-text'>Drag the container items up and down to re-order how they appear on the front end. You can also click to turn them on or off.</div>
        <div class='sub_sub_title'>Leaving the relevant options empty below will effectively turn them off.</div>
    </td>
    <td class='col-right' style="padding-right: 90px;">
        <ul id='menu-sortable'>
            {% for key, selected in options.items_order|json_decode %}
                <li class='draggable'>
                    {{ key|title }}
                    <input type='text' class='orderable-item' value='{{ selected }}' name='menu[items_order][{{ key }}]' />
                    <div class='menu-order-option-switch{% if selected == 'on' %} menu-order-option-switch-on{% endif %}'></div>
                </li>
            {% endfor %}
        </ul>
    </td>
</tr>
