{#
    Responsive Menu Jinja template file.
    Safe to Copy
#}

<tr>
    <td class="col-left col-md-3">
        <label class="control-label">Reset Options</label>
        <div class="sub-text">This will reset your plugin options back to their defaults.</div>
        <div class="sub_sub_title">Warning: This is a destructive process and can't be undone.</div>
    </td>
    <td class="col-right text-right" style="padding-right: 90px;">
        <button name='responsive-menu-reset' type='submit' class='btn btn-danger btn-lg btn-rm'>Reset Options</button>
    </td>
</tr>
<tr>
    <td class="col-left col-md-3">
        <label class="control-label">Rebuild Database</label>
        <div class="sub-text">This will rebuild the database table if you are having issues.</div>
        <div class="sub_sub_title">Warning: This is a destructive process and can't be undone.</div>
    </td>
    <td class="col-right text-right" style="padding-right: 90px;">
        <button name='responsive-menu-rebuild-db' type='submit' class='btn btn-danger btn-lg btn-rm'>Rebuild Database</button>
    </td>
</tr>
